{% extends 'base.html.twig' %}

{% block title %}Some check{% endblock %}

{% block body %}
    <h1>Test checkout</h1>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('checkout') }}
 {% endblock %}
