{% extends 'base.html.twig' %}

{% block title %}Some check{% endblock %}

{% block body %}
    <h1>Test checkout</h1>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('checkout') }}
 {% endblock %}
